<div>{{id}}</div>
<div>
    <img style="width:40px;" src="{{ext this.name}}.png" onerror="this.src='unknown.png'" />
</div>
<div>
    {{this.name}}
</div>
<div>
    {{this.size}}
</div>
<div>
    {{this.type}}
</div>
<div>
    <a href="/delete/{{id}}" style="color:red">delete</a>
</div>
<div>
    <a href="/info/{{id}}" style="color:red">info</a>
</div>
<div>
    <a href="/download/{{id}}" style="color:red">download</a>
</div>