<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="menu">
        <div class="nawigacja">
            <div class="upload"><a href="/">upload</a></div>
            <div class="filemanager"><a href="/filemanager">filemanager</a></div>
            <div class="info"><a href="/info">info</a></div>
        </div>
    </div>
    <div class="calosc">
        <div class="div2">
            <div class="napis">file info</div>
        </div>
        <div class="tabelaInfo">
            <div class="element">
                <div style="color:black;"><u>id:</u>
                    <a>{{id}}</a>
                </div>
                <div style="color:black;"><u>name:</u>
                    <a>{{name}}</a>
                </div>
                <div style="color:black;"><u>path:</u>
                    <a>{{path}}</a>
                </div>
                <div style="color:black; "><u>size:</u>
                    <a>{{size}}</a>
                </div>
                <div style="color:black;"><u>type:</u>
                    <a>{{type}}</a>
                </div>
                <div style="color:black; "><u>savedate:</u>
                    <a>{{savedate}}</a>
                </div>
            </div>

        </div>
    </div>
</body>

</html>